.title {
  flex-grow: 1;
  color: #ffffff;
  cursor: pointer;
}

.lng__switch {
  span {
    color: #ffffff;
  }

  .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #000;
  }

  .MuiSwitch-track {
    background-color: #000;
  }
}
